 @import url('https://overpass-30e2.kxcdn.com/overpass.css');
 @import url('https://fonts.googleapis.com/css?family=Work Sans');

body {
    background-color: #E8ECEB;
    color: #3d3e47;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans';
}

header {
    text-align: center;
    padding: 5px;
    font-family: 'Overpass';
    font-size: 26px;
    background-color: #2D3E4E;
    color: #E8ECEB;
    border-radius: 5px;
}

#flex_container_navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#nav_button {
    border-radius: 10px;
    height: 46px;
    width: 90px;
    float: right;
    font-size: 18px;
    font-family: 'Overpass';
    background-color: #E09E50;
    color: #E8ECEB;
    height: auto;
    width: 120px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background .5s ease-in-out;
    margin: 1%;
    text-decoration: none;
}

#nav_button:hover {
    background: #E8ECEB;
    color: #E09E50;
}

#hello {
    font-size: 100px;
    text-align: left;
    margin-bottom: -2px;
}

#a_bit {
    font-size: 24px;
    text-align: left;
}

.about_me_photo {
    min-height: 36vh;
    max-height: 40vh;
    width: auto;
    border-radius: 30px;
    margin-right: 5vh;
}

.about_me_story {
    text-align: justify;
    font-size: 17px;
}

#flex_container_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vh 20vh;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    color: #E8ECEB;
    background-color: #8CBDB9;
    font-family: 'Work Sans';
    font-size: 14px;
}